## filename=${context.javaBeanName}Controller.java, folder=controller
package ${context.packageName}.web.controller;

import com.gitee.fastmybatis.core.PageInfo;
import com.gitee.fastmybatis.core.query.Query;
import com.gitee.fastmybatis.core.query.param.PageParam;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import ${context.packageName}.dao.entity.${context.javaBeanName};
import ${context.packageName}.service.${context.javaBeanName}Service;

/**
 * @author xxx
 */
@RestController
@RequestMapping("${table.tableName}")
public class ${context.javaBeanName}Controller {

    @Autowired
    private ${context.javaBeanName}Service ${context.javaBeanNameLF}Service;

    /**
     * 分页查询
     *
     * @param param
     * @return
     */
    @GetMapping("/page")
    public Result<PageInfo<${context.javaBeanName}>> page(PageParam param) {
        Query query = param.toQuery();
        PageInfo<${context.javaBeanName}> pageInfo = ${context.javaBeanNameLF}Service.page(query);
        return Result.ok(pageInfo);
    }
    
    /**
     * 新增记录
     *
     * @param user
     * @return
     */
    @PostMapping("/save")
    public Result<${pk.javaTypeBox}> save(${context.javaBeanName} user) {
        ${context.javaBeanNameLF}Service.saveIgnoreNull(user);
        // 返回添加后的主键值
        return Result.ok(user.getId());
    }
    
    /**
     * 修改记录
     *
     * @param user 表单数据
     * @return
     */
    @PutMapping("/update")
    public Result<?> update(${context.javaBeanName} user) {
        ${context.javaBeanNameLF}Service.updateIgnoreNull(user);
        return Result.ok();
    }
     
    /**
     * 删除记录
     *
     * @param id 主键id
     * @return
     */
    @DeleteMapping("/delete")
    public Result<?> delete(${pk.javaTypeBox} id) {
        ${context.javaBeanNameLF}Service.deleteById(id);
        return Result.ok();
    }
    
}